* {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #B7E4C7;
  }
  
  

.app {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
  }